doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/css/dropzone.css')
    link(rel='stylesheet', href='/css/app.css')
    block customscripts
  body
    block content
    block nonblocking 
